.apiconnect {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  .tradingcon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .tradheader {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      svg {
      }
      p {
        font-size: 25px;
      }
    }
    .tradcon {
      p {
        color: #8892a1;
      }
    }
  }
  .connectcard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    width: 100%;
    .spotcard {
      width: 100%;
      padding: 30px;
      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-radius: 20px;
      background-color: var(--faq-item-background-hover-color);
      p {
        font-size: 25px;
        background-color: inherit;
      }
      .midtrad {
        background-color: inherit;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .eachicon {
          background-color: inherit;
          display: flex;
          flex-direction: row;
          cursor: pointer;
          gap: 10px;
          border: 2px solid var(--faq-item-background-hover-color);
          padding: 5px 7px;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          svg {
            width: 30px;
          }
          p {
            @media only screen and (max-width: 576px) {
              font-size: 14px;
            }
          }
          &:hover {
            border-color: #f0b90b;
            background-color: var(--background-color);
          }
        }
      }
      .bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: inherit;
        .eachicon {
          background-color: inherit;
          display: flex;
          flex-direction: row;
          gap: 10px;
          border: 2px solid var(--faq-item-background-hover-color);
          padding: 5px 7px;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          svg {
            background-color: inherit;
            width: 30px;
          }
          &:hover {
            border-color: #f0b90b;
            background-color: var(--background-color);
          }
          p {
            @media only screen and (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  .connectcard1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    width: 100%;
    .spotcard {
      width: 100%;
      padding: 30px;
      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-radius: 20px;
      background-color: var(--faq-item-background-hover-color);
      p {
        font-size: 25px;
        background-color: inherit;
      }
      .midtrad {
        background-color: inherit;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .submid {
          background-color: inherit;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .eachicon {
            background-color: inherit;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            gap: 10px;
            border: 2px solid var(--faq-item-background-hover-color);
            padding: 5px 7px;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            svg {
              width: 30px;
            }
            &:hover {
              border-color: #f0b90b;
              background-color: var(--background-color);
            }
            p {
              @media only screen and (max-width: 576px) {
                font-size: 14px;
              }
            }
          }
          @media only screen and (max-width: 992px) {
            flex-direction: column;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      background-color: inherit;
      .eachicon {
        background-color: inherit;
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: 2px solid var(--faq-item-background-hover-color);
        padding: 5px 7px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
          background-color: inherit;
          width: 30px;
        }
        &:hover {
          border-color: #f0b90b;
          background-color: var(--background-color);
        }
        p {
          @media only screen and (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
}
