.earnheader {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  .lefttext {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 40px;
    .earnnav {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .p1 {
        color: inherit;
        font-size: 22px;
      }
      p {
        font-size: 20px;
        color: #8892a1;
      }
      @media only screen and (max-width: 992px) {
        gap: 10px;
        p {
          font-size: 12px;
        }
        .p1 {
          font-size: 14px;
        }
      }
    }
    .earntitle {
      margin-top: 30px;
      font-size: 56px;
    }
    .earntext {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .rightimg {
    flex: 1;
    
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
