.form-input {
  height: 56px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-right: 8px;
  line-height: 1.6;
  background-color: transparent;
  position: relative;

  .input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    font-size: 14px;
    padding: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: inherit;
    color: inherit;
    margin-right: 8px;
    outline: none;

    &:hover {
      border-color: var(--stand-color);
      opacity: 0.9;
    }
  }

  .default-input {
    background-color: transparent;
    border: 1px solid #2b3139;
    color: #eaecef;

    &:hover {
      border-color: var(--stand-color);
      opacity: 0.9;
    }
  }
}
