.recent{
  display: flex;
  flex-direction: column;
  border: 1px solid #8892a1;
  border-radius: 10px; 
  justify-content: center;
    align-items: center;
  .header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .img{
    display: flex;
   
    width:70px;
    img{
      width: 100%;
    }
   
  }
}