.cream {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width:100%;
  .marquee-container {
    margin-top: 30px;
    width: 100%;
    overflow-x: hidden;
    position: relative; /* Optional: if you want to control positioning */
    .marquee-slider {
      margin-bottom: 30px;
      display: flex;
      animation: marquee 60s linear infinite;
      gap: 20px;
      

      .eachslide {
        background-color: var(--faq-no-border-color);
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .img {
          width: 25px;
          background-color: inherit;
          img {
            width: 100%;
            background-color: inherit;
          }
        }
        p {
          font-size: 16px;
          background-color: inherit;
        }
      }
    }

    @keyframes marquee {
      from {
        transform: translateX(50%);
      }
      to {
        transform: translateX(0%);
      }
    }
  }
}
